body {
  background-color: #eaf0f6;
  color: #33475b;
  border: 2px solid #00a4bd;
  padding: 25px;
  font-family: "Roboto", sans-serif;
}

h1,
h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Bungee Spice", sans-serif;
}

h1 {
  font-size: xx-large;
}

h2 {
  font-size: x-large;
}

section {
  display: flex;
  align-items: center;
  justify-content: center;
}

section img {
  margin: 10px;
}

#cheese {
  height: 200px;
  border: 1px solid #00a4bd;
  padding: 3px;
}

.round {
  margin: 10px;
  display: inline-block;
  position: relative;
  width: 1200px;
  height: 300px;
  overflow: hidden;
  border-radius: 50%;
}

#kirk {
  margin: 0px;
  width: auto;
  height: 100%;
  margin-left: -40px;
}

.pirate {
  width: 100%;
  border: 1px solid #00a4bd;
  padding: 3px;
}

a:hover {
  background-color: orange;
}

ul {
  color: rgb(125, 94, 15);
}

li {
  color: rgb(79, 13, 24)
}

h1 + p {
  text-align: center;
  font-size: large;
}